 /* 清零 */
 *{
 	margin: 0px;
 	padding: 0px;
 } 
a{
	text-decoration: none;
}
img,input{
	border: none;
	border: 1px solid none;
}
li{
	list-style: none; 
}
/* 头部 */
#hd-header{
	width: 950px;
	height: 90px;
	margin: 0 auto;
	border: 1px solid #f00;
	position: relative;
}
#hd-header .header-logo{
	display:block;
	width: 154px;
	height: 30px;
	background: url(./images/logo_db.png) no-repeat;
	position: absolute;
	left: 0px;
	top: 29px;
}
#hd-header .header-search{
	width: 303px;
	height: 30px;
	position: absolute;
	border: 1px solid #c3c3c3;
	left: 183px;
	top:31px;
	color: #d4d4d4;
	padding-left: 7px;
}
#hd-header p{
	width: 13px;
	height: 13px;
	background: url(./images/bn_srh_1.png) no-repeat;
	position: absolute;
	left: 468px;
	top: 41px;
}
#hd-header ul{
	width: 402px;
	height: 23px;	
	position: absolute;
	right: 0px;
	top: 36px;
	border: 1px solid blue;	
}
#hd-header ul li{
	float: left;
	margin-right: 17px;
}
#hd-header ul li a{
	display: block;
	width: 45px;
	height: 23px;
	border: 1px solid red;
}
#hd-header ul li a.header-book{
	background: url(./images/anony_nav_logo4.png) 0px 0px no-repeat;
}
#hd-header ul li a.header-movie{
	background: url(./images/anony_nav_logo4.png) -59px 0px no-repeat;
}
#hd-header ul li a.header-music{
	background: url(./images/anony_nav_logo4.png) -118px 0px no-repeat;
}
#hd-header ul li a.header-group{
	background: url(./images/anony_nav_logo4.png) -177px 0px no-repeat;
}
/* 头部结束 */
/* 公共样式 */
a{
	color: #3377aa;
}
a:hover{
	background: #3377aa
	color:#fff;
}